# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db

# JetBrains
.idea/
*.suo

# 빌드 산출물
Builds/

# Unity 빌드 임시
.utmp/
